* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
/* BACKGROUND */
.container-full-width {
     height: 100vh;
     width: 100vw;
     display: flex;
     font-family: 'Montserrat', sans-serif;
}

.container {
     width: 100%;
     height: 100%;
     background-color: #d7dbd6;
     position: relative;

}


.container-green{
     width: 100%;
     height: 30%;
     background-color: #00bfa5;
}

/* Inizio App */
.container-app {
     min-width: 1100px;
     min-height: 600px;
     max-width: 1100px;
     max-height: 600px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50% , -50%);
     width: calc(100vw - 200px);
     height: calc(100vh - 100px);
     overflow-x: hidden;
     background-color: white;
     border-radius: 5px;
     box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
}

main {
     display: flex;
     width: 100%;
     height: 100%;

}
/* parte sx */
.aside-general {
     width: 35%;
     height: 100%;
}

.aside-1{
     height: 35%;
     width: 100%;

}

.aside {
     height: 65%;
     width: 100%;

     overflow-y: scroll;
}

.object-side {
     padding: 10px 16px;
     height: 70px;
     background-color: #ededed;
     display: flex;
     border-bottom: 1px solid #e0e0e0;
}

.avatar-utente-object-side{
     width:50%;
}

.avatar-utente-object-side img{
     height: 100%;
     object-fit: cover;
}

.barra-strumenti-object-side {
     width: 50%;
     display: flex;
     justify-content: flex-end;
}

.barra-strumenti{
     width: 50%;
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.barra-strumenti-object-side i{
     font-size: 20px;
     color: #919191;
     cursor: pointer;

}


.notifiche {
     display: flex;
     height:80px;
     background-color: #9de1fe;
     padding: 10px 16px;
     border-bottom: 1px solid #e0e0e0;
     padding: 13px 12px 14px 13px;
}

.bell-side{
     width:20%;
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.bell-side {
     color: white;;
     font-size: 40px;
     cursor: pointer;
}

.bell-notifiche-testo{
     width: 80%;
     display: flex;
     justify-content: center;
     flex-direction: column;

}

.bell-notifiche-testo p{
     color:black;
     font-size: 15px;
}

#click-here:hover{
     text-decoration: underline;
     cursor: pointer;
}

#click-here {
     color: #51666f;
}

#click-here::after {
     font-family: 'FontAwesome';
     padding-left: 5px;
     content: '\f0da';
     font-weight: 900;
     transition: all 0.5s;
}




.barra-di-ricerca {
     height:calc(100% - 150px);
     background-color: white;
}

.chat {
     height:1000px;
     background-color: blue;
     overflow-y: scroll;

}

/* parte dx */
.main {
     display: flex;
     flex-direction: column;
     height: 100%;
     width: calc(100% - 35%) ;
     background-color: pink;;
     border-left: 1px solid #e0e0e0;

}


.navbar-contatto {
     height: 70px;
     background-color: #ededed;

}

.main-chat{
     height:calc(100% - 120px);
     background-color: white;
}

.form-writing{
     height: 50px;
     background-color: green;
}
